<div id="stock-results">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<% if params[:action] == 'search' %>
				<%= render 'layouts/messages' %>
			<% end %>
			<% if @stock %>


				<div class="stock-card">
					<div class="stock-body">
						<div class="info">
							<strong>Symbol: </strong><%= @stock.ticker %>
							<strong>Name: </strong><%= @stock.name %>
							<strong>Price: </strong><%= @stock.last_price %>
						</div>
						<% if current_user.can_add_stock?(@stock.ticker) %>
							<%= link_to "Follow", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: "follow", method: :post %>
						<% elsif current_user.stock_already_added?(@stock.ticker) && current_user.under_stock_limit? %>
							<%= link_to "Added!", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: "follow -added -disable", method: :post %>
						<% elsif !current_user.under_stock_limit? %>
							<%= link_to "Follow", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: "follow -disable", method: :post %>
						<% end %>
					</div>
				</div>


			<% end %>
		</div>
	</div>
</div>
